ul {
  list-style: none;
  text-decoration: none;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color-heder: #2196f3;
  --accent-color-footer: #ff6347;
  --all-text-color: #212121;
}

/*----------BODY------------*/
body {
  font-family: var(--main-font);
  background-color: #ffffff;
}

.logotype {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color-heder);
}
.log-part2 {
  color: var(--all-text-color);
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.02em;
  color: var(--all-text-color);
  text-decoration: none;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color-heder);
}

.p-button:hover,
.p-button:focus {
  background-color: var(--accent-color-heder);
  color: #ffffff;
}

.nav .nav-list-link.current {
  color: var(--accent-color-heder);
}

.adress-list a,
.adres-footer a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 142px;
  letter-spacing: 2%;
  color: #757575;
  font-style: normal;
  text-decoration: none;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color-heder);
  text-decoration: none;
}

/*----------Герой------------*/
.titleh1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 363;
  letter-spacing: 0.06em;
  /*color: #ffffff;*/
}
.btn-heroy {
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
  /*color: #FFFFFF;*/
}

/*----------ОСОБЕННОСТИ------------*/

.exclus-title {
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--all-text-color);
}

.exclus-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*----------works foto--------------*/

/*----------our team--------------*/
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--all-text-color);
}

.team-members {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--all-text-color);
}

.team-members-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/*----------footer--------------*/

.log-part-w {
  color: #ffffff;
}
/*
.adres-footer-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
} */
.adres-footer-link:hover,
.adres-footer-link:focus {
  color: var(--accent-color-heder);
}

/*----------body portfoli--------------*/

/*----------PORTFOLIO BUTTON--------------*/
.p-section1 {
  font-family: var(--main-font);
}
.p-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625;
  text-align: center;
  letter-spacing: 0.03em;
}
.p-section-work h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 2x;
  letter-spacing: 0.06em;
}

.p-section-work p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer {
  background-color: #2f303a;
}

a[href="https://goo.gl/maps/fY5pNtDdv6tUA1cWA"]
{
  color: #ffffff;
}
